{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<h1>Edit User</h1>

	{{ form(userForm)}}

		<a href="{{ path('userlist') }}" class="btn btn-outline-dark">back to list</a>

	{% endblock %}
