{% extends 'base.html.twig' %}

{% block title %}New Work
{% endblock %}

{% block body %}
	<h1>Create new Work</h1>

	{{ include('work/_form.html.twig') }}

	<a href="{{ path('work_index') }}" class="btn btn-outline-dark">back to list</a>
{% endblock %}
